/* @import url('reset.css'); */
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
body a{
    text-decoration: none;
}

.wapper{
    min-height: 100%;
    margin: 0;
    /* flex-wrap: nowrap; */
}

/* -------LOGO ---------*/
header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

header img{
    width: 100px;
    height: 100px;
}

header ul{
    display: flex;
}

header li{
    margin-right: 2px;
    line-height: 80px;
}

header ul > li > a >img{
    width: 30px;
    height: 30px;
}




/* -------主選單------- */
nav{
    width: 100%;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0px;
    font-weight: bold;
    
    
}

nav ul{
    /* background-color: transparent;       */
    margin:  auto ;
    display: table;
    background-color: white;
    
}

nav ul{
    display: flex;
}

nav ul>li{
    position: relative;
}

nav ul>li>a{
    display: block;
    text-align: center;
    color: #888098;
    line-height: 50px;
}

nav ul>li>a:hover{
    color: #292929;
}

nav a{
    text-decoration: none;
    width: 200px;
    font-size: 18px;  
}



/* 次選單 */
ol{
    background-color: transparent;
    display: none; 
    position: absolute;
}

ol>li>a{
    display: block;
    line-height: 50px;
    text-align: center;
    color: #888098;
}

ol>li>a:hover{
   color: #292929;
}

ul>li:hover ol{
    display: block;
}


/*------ 美食選單----- */
.foodsel ul{
    display: flex;
    justify-content: center;
    
}

.foodsel{
    padding: 60px 0px 100px;
    display: block;
    margin: 0 auto;
}

.foodsel li{
    margin: 20px;
    text-align: center;
    line-height: 50px;
    
    width: 100px;
    height: 50px;
    position: relative;
}

.foodsel a{
    display: block;
}

.foodsel li:before{
    content: '';
    display: block;
    background-color: #7C7C7C;
    width: 2px;
    height: 10px;

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



/* -----------美食地圖-------- */
article{
   margin: 0 auto; 
   width: 100%;
}

.allfoodwarpper{
    width: 100%;
    padding: 0 120px;
    display: flex;
    flex-direction: column; 
}

article img{
    max-width: 100%;
    padding: 20px;
    /* object-fit: cover; */
}

section{
    display: flex;
    flex-direction: column;
    align-self: center;
}

article h2{
    font-size: 32px;
    color: #292929;
    text-align: center;
}

article h3{
    font-size: 20px;
    color: #292929;
    text-align: center;
}

article p{
    font-size: 18px;
    color: #7C7C7C;
    word-break: keep-all;
    /* text-align: center; */
}

.foodmap {
    width: 500px;
    box-sizing: border-box;
    
}


.foodiewaper{
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.foodie{
    display: flex;
    margin: 0px 50px 50px 0px;
}


.foodie2waper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food2map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
    margin: 0px 50px 50px 0px;
    
}

.food2{
    justify-content: center;
    /* margin: 0px 50px 50px 0px; */
    width: 500px;

}

.foodie3waper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.food3map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    box-sizing: border-box;
}

.food3{
    display: flex;
    margin: 0px 50px 50px 0px;
}


section{
    padding-top: 20px;
}







/* --footer-- */
footer{
    padding-top: 100px;
}

.foot{
    margin-top: 0;
    background-color: black;
    height: 150px;
    width: 100%;
    z-index: 99;

    display: flex;
    
}

.foot p{
    align-self: center;
    margin: 0 auto;
    color: #FFFFF3;
    
}

.foot img{
    height: 30px;
    width: 30px;
    
}



.foot ul>li{
    float: left;
    
}
